[datasource]
[[CaoXiao-Futu]]
vendor=futu
port=11111
level=level2

[[WH-Futu]]
vendor=futu
port=11112
level=level2

[[Winton-IB]]
vendor=ib
[[[port]]]
[[[[TWS[]]]
paper=7497
living=7496
[[[[IBG]]]]
paper=7497
living=7496

[limitation]
[[futu]]
[[[general]]]
subscribe_kline=100
get_plate_list=10,30
request_history_kline=10,30
place_order=15,30
unlock_trade=10,30
modify_order=20,30
change_order=20,30
history_order_list_query=10,30
history_deal_list_query=10,30
[[[level1]]]
get_market_snapshot_freq=30,30
get_market_snapshot_stock_no=400
[[[level2]]]
get_market_snapshot_freq=20,30
get_market_snapshot_stock_no=300
[[[level3]]]
get_market_snapshot_freq=10,30
get_market_snapshot_stock_no=200

[[ib]]
request_history=60, 600
request_history_same_contract=6, 2